<div class="mt-2">
  <div class="col">
    <div class="d-flex">
      <div class="ms-2">
        <input type="text" class="form-control" placeholder="Search Addresses" [(ngModel)]="searchTerm" (input)="searchAddresses()">
      </div>
      <div class="ms-2">
        <button class="btn button-danger button-search mb-3" title="Cancel" (click)="clearSearchField()">
          <i class="bi bi-x-square"></i> Cancel
        </button>
      </div>
      <div class="ms-2">
        <button type="button" class="btn button-info button-search mb-3" title="Add" (click)="openCreateModal()">
          <i class="bi bi-plus-square-fill"></i> Add
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Street</th>
          <th>Number</th>
          <th>complement</th>
          <th>Neighborhood</th>
          <th>State</th>
          <th>City</th>
          <th>Zip Code</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of pagedAddresses">
          <td>{{ address.street }}</td>
          <td>{{ address.number }}</td>
          <td>{{ address.complement }}</td>
          <td>{{ address.neighborhood }}</td>
          <td>{{ address.federativeUnit }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.zipCode }}</td>
          <td>
            <button class="btn btn-warning me-1" (click)="onUpdate(address)" title="Update">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-danger" (click)="onDelete(address)" title="Delete">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="onPageChange($event)">
  </app-pagination>

</div>

<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addressModalLabel">
          {{ isUpdateMode ? 'Update Zip Code' : 'Add New Zip Code' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row g-3">
            <div class="col-md-8">
              <div class="d-flex">
                <div class="md-2">
                  <label for="zipCode" class="form-label">Add zip code</label>
                  <div class="input-group d-flex">
                    <input type="text"
                           id="zipCode"
                           name="zipCode"
                           class="form-control input-zip-code"
                           maxlength="9"
                           pattern="[0-9]{8}"
                           [(ngModel)]="address.zipCode"
                           (ngModelChange)="address.zipCode"
                           [value]="address.zipCode | zipcodeformat">
                    <div class="ms-2 mb-3">
                      <button type="button" class="btn button-info button-search" (click)="searchZipCode()" title="Search zip code">
                        <i class="bi bi-search"></i> Search zip code
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="street" class="form-label">Street</label>
                <input type="text" id="street" name="street" class="form-control" [(ngModel)]="address.street">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="number" class="form-label">Number</label>
                <input type="text" id="number" name="number" class="form-control input-form--sm-1" [(ngModel)]="address.number">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="complement" class="form-label">Complement</label>
                <input type="text" id="complement" name="complement" class="form-control"
                  [(ngModel)]="address.complement">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="neighborhood" class="form-label">Neighborhood</label>
                <input type="text" id="neighborhood" name="neighborhood" class="form-control" [(ngModel)]="address.neighborhood">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="federativeUnit" class="form-label">State</label>
                <select id="federativeUnit" name="federativeUnit" class="form-control small-select" [(ngModel)]="address.federativeUnit">
                  <option *ngFor="let state of states" [value]="state.acronym">{{ state.acronym }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" id="city" name="city" class="form-control" [(ngModel)]="address.city">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="zipCode" class="form-label">Zip Code</label>
                <input type="text" id="zipCode" name="zipCode" class="form-control input-zip-code" [(ngModel)]="address.zipCode">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-cancel" data-bs-dismiss="modal" title="Close">
          <i class="bi bi-door-closed-fill"></i> Close
        </button>
        <button type="button" class="btn button-danger" title="Clear Fields" (click)="clearModalFields($event)">
          <i class="bi bi-x-square"></i> Clear
        </button>
        <button type="button" class="btn button-success" title="Save" (click)="saveOrUpdate()">
          <i class="bi bi-floppy-fill"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>
