<div class="mt-2">
  <div class="col">
    <div class="d-flex">
      <div class="ms-6">
        <input type="text" class="form-control" placeholder="Search Addresses" [(ngModel)]="searchTerm" (input)="searchAddresses()">
      </div>
      <div class="ms-2">
        <button class="btn button-danger button-search mb-3" title="Cancel" (click)="clearSearchField()">
          <i class="bi bi-x-square"></i> Cancel
        </button>
      </div>
      <div class="ms-2">
        <button type="button" class="btn button-info button-search mb-3" title="Add" (click)="openModal(modalIdAddress, false)">
          <i class="bi bi-plus-square-fill"></i> Add
        </button>
      </div>
    </div>
  </div>

  <app-address-modal
    [modalId]="modalIdAddress"
    [addressUpdate]="address"
    [isUpdateMode]="isUpdateMode"
    (addressUpdated)="getAll()">
  </app-address-modal>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Street</th>
          <th>Number</th>
          <th>Complement</th>
          <th>Neighborhood</th>
          <th>State</th>
          <th>City</th>
          <th>Zip Code</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of pagedAddresses">
          <td>{{ address.street }}</td>
          <td>{{ address.number }}</td>
          <td>{{ address.complement }}</td>
          <td>{{ address.neighborhood }}</td>
          <td>{{ address.federativeUnit }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.zipCode }}</td>
          <td>
            <button class="btn button-warning me-1" (click)="onUpdate(address)" title="Update">
              <i class="bi bi-pencil-square"></i> Update
            </button>
            <button class="btn button-danger me-1" (click)="onDelete(address)" title="Delete">
              <i class="bi bi-trash-fill"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="onPageChange($event)">
  </app-pagination>
</div>
