<div class="mt-2">
  <div class="col">
    <div class="d-flex">
      <div class="ms-2">
        <input type="text" class="form-control" placeholder="Pesquisar..." [(ngModel)]="searchTerm" (input)="searchAddresses()">
      </div>
      <div class="ms-2">
        <button class="btn button-cancel mb-3 button-search" title="Cancelar" (click)="clearSearchField()">
          <i class="bi bi-x-square"></i> Cancelar
        </button>
      </div>
      <div class="ms-2">
        <button type="button" class="btn button-info mb-3 button-search" title="Adicionar Endereço" (click)="openCreateModal()">
          <i class="bi bi-plus-square-fill"></i> Adicionar
        </button>
      </div>
    </div>
  </div>

  <app-base-table
    [data]="filteredAddresses.length ? filteredAddresses : addresses"
    [columns]="columns"
    (update)="onUpdate($event)"
    (delete)="onDelete($event)">
  </app-base-table>
</div>

<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addressModalLabel">
          {{ isUpdateMode ? 'Atualizar Endereço' : 'Adicionar Novo Endereço' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row g-3">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="street" class="form-label">Logradouro</label>
                <input type="text" id="street" name="street" class="form-control" [(ngModel)]="address.street">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="number" class="form-label">Número</label>
                <input type="text" id="number" name="number" class="form-control" [(ngModel)]="address.number">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="complement" class="form-label">Complemento</label>
                <input type="text" id="complement" name="complement" class="form-control"
                  [(ngModel)]="address.complement">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="neighborhood" class="form-label">Bairro</label>
                <input type="text" id="neighborhood" name="neighborhood" class="form-control"
                  [(ngModel)]="address.neighborhood">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="federativeUnit" class="form-label">Estado</label>
                <input type="text" id="federativeUnit" name="federativeUnit" class="form-control"
                  [(ngModel)]="address.federativeUnit">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="city" class="form-label">Cidade</label>
                <input type="text" id="city" name="city" class="form-control" [(ngModel)]="address.city">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="zipCode" class="form-label">CEP</label>
                <input type="text" id="zipCode" name="zipCode" class="form-control" [(ngModel)]="address.zipCode">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-cancel" data-bs-dismiss="modal" title="Close">
          <i class="bi bi-x-square-fill"></i>
        </button>
        <button type="button" class="btn button-success" title="Save" (click)="saveOrUpdate()">
          <i class="bi bi-floppy-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>
