<div class="home-container">
  <h2 class="page-title mb-2">Welcome to the Vehicle Parking Lot!</h2>
  <hr>
  <app-loading></app-loading>

  <div>
    <h3 class="page-subtitle">About Us</h3>
    <p>
      Whether you are an avid driver or an occasional visitor, it is a pleasure to welcome you to our parking lot.
      We are here to provide you with a safe and convenient parking experience,
      with a touch of our exceptional service.
    </p>
    <p>
      Our parking lot offers quality services always thinking of our customers. Get to know our services:
    </p>
  </div>

  <div class="mt-2">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card container-card card-hover">
          <img src="assets/images/parking1.png" class="card-img-top" alt="Location">
          <div class="card-body">
            <h5 class="card-title page-subtitle">Easy Location</h5>
            <p class="card-text">The parking lot is easily located in a very busy central area.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card container-card card-hover">
          <img src="assets/images/parking2.png" class="card-img-top" alt="Convenience">
          <div class="card-body">
            <h5 class="card-title page-subtitle">Convenience</h5>
            <p class="card-text">Customers have access to a good number of parking spaces and room for movement.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card container-card card-hover">
          <img src="assets/images/parking3.png" class="card-img-top" alt="Security">
          <div class="card-body">
            <h5 class="card-title page-subtitle">Security</h5>
            <p class="card-text">Our parking lot has great security to ensure the protection of your vehicle's stay.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
