<div class="home-container">
  <h2 class="page-title mb-2">Welcome to the Parking System</h2>
  <hr>

  <div class="animation-fade-in-downbig-1s">
    <div>
      <h3 class="page-subtitle">Services</h3>
    </div>

    <div class="mt-2 links-container">
      <div class="quick-links">
        <a class="btn button-home button-size m-1" routerLink="/customer" title="Customers Services" routerLinkActive="active">
          <i class="fs-2 bi bi-people"></i>
        </a>

        <a class="btn button-home button-size m-1" routerLink="/address" title="Addresses Services" routerLinkActive="active">
          <i class="fs-2 bi bi-geo-alt"></i>
        </a>

        <a class="btn button-home button-size m-1" routerLink="/vehicle" title="Vehicles Services" routerLinkActive="active">
          <i class="fs-2 bi bi-car-front"></i>
        </a>

        <a class="btn button-home button-size m-1" routerLink="/customer-vehicle" title="Associations Services" routerLinkActive="active">
          <i class="fs-2 bi bi-link-45deg"></i>
        </a>

        <a class="btn button-home button-size m-1" routerLink="/stay" title="Stays Services" routerLinkActive="active">
          <i class="fs-2 bi bi-clock-history"></i>
        </a>
      </div>
    </div>
  </div>
</div>
