.table-responsive {
  table {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.875rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 992px) {
  .table-responsive {
    table {
      font-size: 0.875rem;
    }

    .btn {
      font-size: 0.75rem;
      padding: 0.35rem 0.7rem;
    }
  }
}

@media (max-width: 768px) {
  .table-responsive {
    table {
      font-size: 0.75rem;
    }

    .btn {
      font-size: 0.625rem;
      padding: 0.3rem 0.6rem;
    }
  }
}

@media (max-width: 576px) {
  .table-responsive {
    table {
      font-size: 0.625rem;
    }

    .btn {
      font-size: 0.5rem;
      padding: 0.2rem 0.4rem;
    }
  }
}
