<div class="mt-2">
  <div class="col">
    <div class="d-flex">
      <div class="ms-6">
        <input type="text" class="form-control" placeholder="Search Stays" [(ngModel)]="searchTerm" (input)="searchStays()">
      </div>
      <div class="ms-2">
        <button class="btn button-danger button-search mb-3" title="Cancel" (click)="clearSearchField()">
          <i class="bi bi-x-square"></i> Cancel
        </button>
      </div>
      <div class="ms-2">
        <button type="button" class="btn button-info mb-3 button-search" title="Add" (click)="openModal(modalIdStay, false)">
          <i class="bi bi-plus-square-fill"></i> Add
        </button>
      </div>
    </div>
  </div>

  <app-stay-modal
    [modalId]="modalIdStay"
    [stayUpdate]="stay"
    [isUpdateMode]="isUpdateMode"
    (stayUpdated)="getAll()">
  </app-stay-modal>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Customer - Vehicle</th>
          <th>License Plate</th>
          <th>Entry</th>
          <th>Exit</th>
          <th>Hourly Rate</th>
          <th>Total</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stay of pagedStays">
          <td>
            {{ getCustomerVehicle(stay) }}
          </td>
          <td>{{ stay.licensePlate }}</td>
          <td>{{ stay.entryDate | datehour }}</td>
          <td>{{ stay.exitDate ? (stay.exitDate | datehour) : 'N/A' }}</td>
          <td>{{ stay.hourlyRate | real }}</td>
          <td>{{ stay.totalAmount ? (stay.totalAmount | real) : 'N/A' }}</td>
          <td [ngClass]="{
            'stay-status-parked': stay.stayStatus === 'Estacionado',
            'stay-status-removed': stay.stayStatus === 'Retirado'
          }">
            {{ stay.stayStatus }}
          </td>
          <td>
            <button class="btn button-success btn-sm me-1" (click)="onUpdate(stay)" title="Finish"
              [disabled]="stay.stayStatus === 'Retirado'" [ngClass]="{'btn-disabled': stay.stayStatus === 'Retirado'}">
              <i class="bi bi-pencil-square"></i> Finish
            </button>
            <button class="btn button-info btn-sm me-1" (click)="onGeneratePdf(stay)" title="Generate Ticket">
              <i class="bi bi-file-earmark-pdf-fill"></i> Ticket
            </button>
            <button class="btn button-danger btn-sm me-1" (click)="onDelete(stay)" title="Delete">
              <i class="bi bi-trash-fill"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="onPageChange($event)">
  </app-pagination>

</div>
