<div class="mt-2">
  <div class="col">
    <div class="d-flex">
      <div class="ms-2">
        <input type="text" class="form-control" placeholder="Pesquisar..." [(ngModel)]="searchTerm" (input)="searchStays()">
      </div>
      <div class="ms-2">
        <button class="btn button-cancel mb-3 button-search" title="Cancelar" (click)="clearSearchField()">
          <i class="bi bi-x-square"></i> Cancelar
        </button>
      </div>
      <div class="ms-2">
        <button type="button" class="btn button-info mb-3 button-search" title="Adicionar Permanência" (click)="openCreateModal()">
          <i class="bi bi-plus-square-fill"></i> Adicionar
        </button>
      </div>
    </div>
  </div>

  <app-base-table
    [data]="filteredStays.length ? filteredStays : stays"
    [columns]="columns"
    [showPdfButton]="true"
    (update)="onUpdate($event)"
    (delete)="onDelete($event)"
    (generatePdf)="onGeneratePdf($event)">
  </app-base-table>
</div>

<!-- Modal para criação de nova permanência -->
<div class="modal fade" id="stayModal" tabindex="-1" aria-labelledby="stayModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stayModalLabel">
          Adicionar Nova Permanência
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row g-3">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="customerVehicleId" class="form-label">Cliente</label>
                <input type="text" id="customerVehicleId" name="customerVehicleId" class="form-control" [(ngModel)]="stay.customerVehicleId">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="licensePlate" class="form-label">Placa</label>
                <input type="text" id="licensePlate" name="licensePlate" class="form-control" [(ngModel)]="stay.licensePlate">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="entryDate" class="form-label">Entrada</label>
                <input type="date" id="entryDate" name="entryDate" class="form-control" [(ngModel)]="stay.entryDate">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="hourlyRate" class="form-label">Taxa por Hora</label>
                <input type="number" id="hourlyRate" name="hourlyRate" class="form-control" [(ngModel)]="stay.hourlyRate">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-cancel" data-bs-dismiss="modal" title="Close">
          <i class="bi bi-x-square-fill"></i>
        </button>
        <button type="button" class="btn button-success" title="Save" (click)="save()">
          <i class="bi bi-floppy-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>
