#sidebar {
  min-width: 180px;
  max-width: 190px;
  height: 100vh;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  height: 120px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

#sidebar .logo {
  height: auto;
  width: 80%;
  max-width: 100px;
  margin-bottom: 20px;
  object-fit: contain;
  cursor: pointer;
}

#sidebar ul.components {
  padding: 2px 0;
  flex: 1;
}

#sidebar ul p {
  color: var(--neutral-color-light);
  padding: 5px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1em;
  display: block;
  color: var(--neutral-color-light);
  transition: 0.3s;
}

#sidebar ul li a:hover {
  background: var(--primary-color);
  color: var(--dark-color);
}

a {
  text-decoration: none;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  background: var(--primary-color);
  color: var(--neutral-color-light);
}

#sidebar .sidebar-footer {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

#sidebar .sidebar-footer .btn {
  width: 100%;
  margin-bottom: 35px;
}

#content {
  padding: 20px;
  min-height: 100vh;
  margin-left: 150px;
  overflow-x: hidden;
  box-sizing: border-box;
  transition: all 0.3s;
}

#content.active {
  margin-left: 0;
}

#sidebarCollapse {
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: 3%;
  margin-top: -20px;
  cursor: pointer;
}

.sidebar-footer-text {
  font-size: 14px;
}

.user-email {
  color: var(--neutral-color-medium);
}

