<div class="wrapper">
  <nav id="sidebar" class="bg-dark">
    <div class="sidebar-header">
      <a routerLink="/home">
        <img src="assets/images/logo.png" alt="Logo" class="logo">
      </a>
    </div>

    <ul class="list-unstyled components">
      <li *ngIf="isAuthenticated">
        <a routerLink="/home" routerLinkActive="active">
          <i class="fs-6 bi bi-house-door"></i> Home
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <a routerLink="/customer" routerLinkActive="active">
          <i class="fs-6 bi bi-people"></i> Customers
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <a routerLink="/address" routerLinkActive="active">
          <i class="fs-6 bi bi-geo-alt"></i> Addresses
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <a routerLink="/vehicle" routerLinkActive="active">
          <i class="fs-6 bi bi-car-front"></i> Vehicles
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <a routerLink="/customer-vehicle" routerLinkActive="active">
          <i class="fs-6 bi bi-link-45deg"></i> Associations
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <a routerLink="/stay" routerLinkActive="active">
          <i class="fs-6 bi bi-clock-history"></i> Stays
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <button (click)="logOut()" class="btn btn-danger">
          <i class="fs-6 bi bi-box-arrow-right"></i> Log Out
        </button>
      </li>
    </ul>
  </nav>
  <div id="content">
    <button type="button" id="sidebarCollapse" class="btn btn-dark me-2">
      <i class="bi bi-list"></i>
    </button>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>
</div>
