<div class="mt-2">
  <div class="col">
    <div class="d-flex">
      <div class="ms-6">
        <input type="text" class="form-control" placeholder="Search Vehicles" [(ngModel)]="searchTerm" (input)="searchVehicles()">
      </div>
      <div class="ms-2">
        <button class="btn button-danger button-search mb-3" title="Cancel" (click)="clearSearchField()">
          <i class="bi bi-x-square"></i> Cancel
        </button>
      </div>
      <div class="ms-2">
        <button type="button" class="btn button-info mb-3 button-search" title="Add" (click)="openModal(modalIdVehicle, false)">
          <i class="bi bi-plus-square-fill"></i> Add
        </button>
      </div>
    </div>
  </div>

  <app-vechicle-modal
    [modalId]="modalIdVehicle"
    [vehicleUpdate]="vehicle"
    [isUpdateMode]="isUpdateMode"
    (vehicleUpdated)="getAll()">
  </app-vechicle-modal>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Type</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Color</th>
          <th>Year</th>
          <th>Notes</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of pagedVehicles">
          <td>{{ vehicle.vehicleType }}</td>
          <td>{{ vehicle.brand }}</td>
          <td>{{ vehicle.model }}</td>
          <td>{{ vehicle.color }}</td>
          <td>{{ vehicle.vehicleYear }}</td>
          <td>{{ vehicle.notes || 'N/A' }}</td>
          <td>
            <button type="button" class="btn button-warning btn-sm me-1" (click)="onUpdate(vehicle)" title="Update">
              <i class="bi bi-pencil-square"></i> Update
            </button>
            <button type="button" class="btn button-danger btn-sm me-1" (click)="onDelete(vehicle)" title="Delete">
              <i class="bi bi-trash-fill"></i> Delete
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredVehicles.length === 0">
          <td [attr.colspan]="7" class="text-center">No vehicles found.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="onPageChange($event)">
  </app-pagination>

</div>
