<div class="modal fade animation-bounce-in-1s" id="vehicleModal" tabindex="-1" aria-labelledby="vehicleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vehicleModalLabel">
          {{ isUpdateMode ? 'Update Vehicle' : 'Add New Vehicle' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #vehicleForm="ngForm">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="vehicleType" class="form-label">Type <span>*</span></label>
                <select id="vehicleType" name="vehicleType" class="form-select" required [(ngModel)]="vehicle.vehicleType">
                  <option value="" disabled>Select type</option>
                  <option value="Carro">Carro</option>
                  <option value="Moto">Moto</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="brand" class="form-label">Brand <span>*</span></label>
                <input type="text"
                       id="brand"
                       name="brand"
                       maxlength="50"
                       class="form-control"
                       required
                       [(ngModel)]="vehicle.brand">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="model" class="form-label">Model <span>*</span></label>
                <input type="text"
                       id="model"
                       name="model"
                       maxlength="50"
                       class="form-control"
                       required
                       [(ngModel)]="vehicle.model">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="color" class="form-label">Color <span>*</span></label>
                <input type="text"
                       id="color"
                       name="color"
                       maxlength="50"
                       class="form-control"
                       required
                       [(ngModel)]="vehicle.color">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="vehicleYear" class="form-label">Ano <span>*</span></label>
                <input type="number"
                       id="vehicleYear"
                       name="vehicleYear"
                       class="form-control input-year"
                       required
                       [(ngModel)]="vehicle.vehicleYear"
                       max="9999"
                       oninput="if(this.value.length > 4) this.value = this.value.slice(0, 4);">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="notes" class="form-label">Notes</label>
                <input type="text"
                       id="notes"
                       name="notes"
                       maxlength="100"
                       class="form-control"
                       [(ngModel)]="vehicle.notes">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn button-cancel" data-bs-dismiss="modal" title="Close">
              <i class="bi bi-door-closed-fill"></i> Close
            </button>
            <button type="button" class="btn button-danger" title="Clear Fields" (click)="clearModalFields($event)">
              <i class="bi bi-x-square"></i> Clear
            </button>
            <button type="button" class="btn button-success" title="Save" [disabled]="!validateFields()" (click)="saveOrUpdate()">
              <i class="bi bi-floppy-fill"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
