<div class="mt-2">
  <div class="col">
    <div class="d-flex">
      <div class="ms-6">
        <input type="text" class="form-control" placeholder="Search Customers" [(ngModel)]="searchTerm" (input)="searchCustomers()">
      </div>
      <div class="ms-2">
        <button class="btn button-danger button-search mb-3" title="Cancel" (click)="clearSearchField()">
          <i class="bi bi-x-square"></i> Cancel
        </button>
      </div>
      <div class="ms-2">
        <button type="button" class="btn button-info button-search mb-3" title="Add" (click)="openCreateModal()">
          <i class="bi bi-plus-square-fill"></i> Add
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Birth Date</th>
          <th>CPF</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of pagedCustomers">
          <td>{{ customer.name }}</td>
          <td>{{ customer.birthDate | dateformat }}</td>
          <td>{{ customer.cpf | cpfmask}}</td>
          <td>{{ customer.phone | phoneformat }}</td>
          <td>{{ customer.email }}</td>
          <td>
            {{ customer.address?.street }},
            {{ customer.address?.number }}
            {{ customer.address?.complement }}
          </td>
          <td>
            <button type="button" class="btn button-warning btn-sm me-1" (click)="onUpdate(customer)" title="Update">
              <i class="bi bi-pencil-square"></i> Update
            </button>
            <button type="button" class="btn button-danger btn-sm me-1" (click)="onDelete(customer)" title="Delete">
              <i class="bi bi-trash-fill"></i> Delete
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredCustomers.length === 0">
          <td [attr.colspan]="7" class="text-center">No customers found.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="onPageChange($event)">
  </app-pagination>

</div>

<div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customerModalLabel">
          {{ isUpdateMode ? 'Update Customer' : 'Add New Customer' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #customerForm="ngForm">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="name" class="form-label">Name <span>*</span></label>
                <input type="text" id="street" name="street" class="form-control" [(ngModel)]="customer.name" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="birthDate" class="form-label">Birth Date <span>*</span></label>
                <input type="date" id="birthDate" name="birthDate" class="form-control" [(ngModel)]="customer.birthDate" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="cpf" class="form-label">CPF <span>*</span></label>
                <input type="text" id="cpf" name="cpf" class="form-control" [(ngModel)]="customer.cpf" [value]="customer.cpf | cpfmask" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="phone" class="form-label">Phone <span>*</span></label>
                <input type="text"
                       id="phone"
                       name="phone"
                       class="form-control"
                       [(ngModel)]="customer.phone"
                       [value]="customer.phone | phoneformat"
                       required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="email" class="form-label">Email <span>*</span></label>
                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="customer.email" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="addressId" class="form-label">Address <span>*</span></label>
                <select id="addressId" name="addressId" class="form-select" [(ngModel)]="customer.addressId" required>
                  <option value="" disabled selected>Select Address</option>
                  <option *ngFor="let address of addresses" [value]="address.id">
                    {{ address.street }}, {{ address.number }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn button-cancel" data-bs-dismiss="modal" title="Close">
              <i class="bi bi-door-closed-fill"></i> Close
            </button>
            <button type="button" class="btn button-danger" title="Clear Fields" (click)="clearModalFields($event)">
              <i class="bi bi-x-square"></i> Clear
            </button>
            <button type="button" class="btn button-success" title="Save" [disabled]="!validateFields()" (click)="saveOrUpdate()">
              <i class="bi bi-floppy-fill"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
