<div class="mt-2">
  <div class="col">
    <div class="d-flex">
      <div class="ms-6">
        <input type="text" class="form-control" placeholder="Search Customers" [(ngModel)]="searchTerm" (input)="searchCustomers()">
      </div>
      <div class="ms-2">
        <button class="btn button-danger button-search mb-3" title="Cancel" (click)="clearSearchField()">
          <i class="bi bi-x-square"></i> Cancel
        </button>
      </div>
      <div class="ms-2">
        <button type="button" class="btn button-info button-search mb-3" title="Add" (click)="openModal(modalIdCustomer, false)">
          <i class="bi bi-plus-square-fill"></i> Add
        </button>
      </div>
    </div>
  </div>

  <app-customer-modal
    [modalId]="modalIdCustomer"
    [customerUpdate]="customer"
    [isUpdateMode]="isUpdateMode"
    (customerUpdated)="getAll()">
  </app-customer-modal>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Birth Date</th>
          <th>CPF</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of pagedCustomers">
          <td>{{ customer.name }}</td>
          <td>{{ customer.birthDate | dateformat }}</td>
          <td>{{ customer.cpf | cpfmask}}</td>
          <td>{{ customer.phone | phoneformat }}</td>
          <td>{{ customer.email }}</td>
          <td>
            {{ customer.address?.street }},
            {{ customer.address?.number }}
            {{ customer.address?.complement }}
          </td>
          <td>
            <button type="button" class="btn button-warning btn-sm me-1" (click)="onUpdate(customer)" title="Update">
              <i class="bi bi-pencil-square"></i> Update
            </button>
            <button type="button" class="btn button-danger btn-sm me-1" (click)="onDelete(customer)" title="Delete">
              <i class="bi bi-trash-fill"></i> Delete
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredCustomers.length === 0">
          <td [attr.colspan]="7" class="text-center">No customers found.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="onPageChange($event)">
  </app-pagination>

</div>
