<div class="mt-2">
  <div class="col">
    <div class="d-flex">
      <div class="ms-2">
        <input type="text" class="form-control" placeholder="Pesquisar..." [(ngModel)]="searchTerm" (input)="searchCustomerVehicle()">
      </div>
      <div class="ms-2">
        <button class="btn button-danger button-search mb-3" title="Cancelar" (click)="clearSearchField()">
          <i class="bi bi-x-square"></i> Cancelar
        </button>
      </div>
      <div class="ms-2">
        <button type="button" class="btn button-info button-search mb-3" title="Adicionar Associação" (click)="openCreateModal()">
          <i class="bi bi-plus-square-fill"></i> Adicionar
        </button>
      </div>
    </div>
  </div>

  <app-base-table
    [data]="filteredCustomerVehicle.length ? filteredCustomerVehicle : customersVehicles"
    [columns]="columns"
    (update)="onUpdate($event)"
    (delete)="onDelete($event)">
  </app-base-table>
</div>

<div class="modal fade" id="customerVehicleModal" tabindex="-1" aria-labelledby="customerVehicleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customerVehicleModalLabel">
          {{ isUpdateMode ? 'Atualizar Associação' : 'Adicionar Nova Associação' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row g-3">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="name" class="form-label">Cliente</label>
                <select id="customerId" name="customerId" class="form-control" [(ngModel)]="customerVehicle.customerId">
                  <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.name }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="birthDate" class="form-label">Veículo</label>
                <select id="vehicleId" name="vehicleId" class="form-control" [(ngModel)]="customerVehicle.vehicleId">
                  <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{ vehicle.model }}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-cancel" data-bs-dismiss="modal" title="Fechar">
          <i class="bi bi-door-closed-fill"></i> Fechar
        </button>
        <button type="button" class="btn button-danger" title="Limpar Campos" (click)="clearModalFields($event)">
          <i class="bi bi-x-square"></i> Limpar
        </button>
        <button type="button" class="btn button-success" title="Salvar" (click)="saveOrUpdate()">
          <i class="bi bi-floppy-fill"></i> Salvar
        </button>
      </div>
    </div>
  </div>
</div>
