<div class="mt-2">
  <div class="col">
    <div class="d-flex">
      <div class="ms-6">
        <input type="text"
               class="form-control"
               placeholder="Search Associations"
               [(ngModel)]="searchTerm"
               (input)="searchCustomerVehicle()">
      </div>
      <div class="ms-2">
        <button class="btn button-danger button-search mb-3" title="Cancel" (click)="clearSearchField()">
          <i class="bi bi-x-square"></i> Cancel
        </button>
      </div>
      <div class="ms-2">
        <button type="button" class="btn button-info button-search mb-3" title="Add" (click)="openModal(modalIdcustomerVehicle, false)">
          <i class="bi bi-plus-square-fill"></i> Add
        </button>
      </div>
    </div>
  </div>

  <app-customer-vehicle-modal
    [modalId]="modalIdcustomerVehicle"
    [customerVehicleUpdate]="customerVehicle"
    [isUpdateMode]="isUpdateMode"
    (customerVehicleUpdated)="getAll()">
  </app-customer-vehicle-modal>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Customer</th>
          <th>Vehicle</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerVehicle of pagedCustomersVehicles">
          <td>{{ getCustomerName(customerVehicle.customerId) }}</td>
          <td>{{ getVehicleModel(customerVehicle.vehicleId) }}</td>
          <td>
            <button type="button" class="btn button-warning btn-sm me-1" (click)="onUpdate(customerVehicle)" title="Update">
              <i class="bi bi-pencil-square"></i> Update
            </button>
            <button type="button" class="btn button-danger btn-sm me-1" (click)="onDelete(customerVehicle)" title="Delete">
              <i class="bi bi-trash-fill"></i> Delete
            </button>
          </td>
        </tr>
        <tr *ngIf="pagedCustomersVehicles.length === 0 && filteredCustomerVehicle.length > 0">
          <td [attr.colspan]="3" class="text-center">No data found.</td>
        </tr>
      </tbody>

    </table>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="onPageChange($event)">
  </app-pagination>

</div>
