<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addressModalLabel">
          {{ isUpdateMode ? 'Update Address' : 'Add New Address' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  #addressForm="ngForm">
          <div class="row g-3">
            <div class="col-md-8">
              <div class="d-flex">
                <div class="md-2">
                  <label for="search-zip-code" class="form-label"></label>
                  <div class="input-group d-flex">
                    <input type="text"
                           id="search-zip-code"
                           name="search-zip-code"
                           class="form-control input-zip-code"
                           maxlength="9"
                           pattern="[0-9]{8}"
                           placeholder="Add zip code"
                           [(ngModel)]="address.zipCode"
                           (ngModelChange)="address.zipCode"
                           [value]="address.zipCode | zipcodeformat">
                    <div class="ms-2 mb-3">
                      <button type="button" class="btn button-info button-search" (click)="searchZipCode()" title="Search zip code">
                        <i class="bi bi-search"></i> Search zip code
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="col-md-12">
              <div class="mb-3">
                <label for="street" class="form-label">Street <span>*</span></label>
                <input type="text"
                       id="street"
                       name="street"
                       maxlength="100"
                       class="form-control"
                       required
                       [(ngModel)]="address.street">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="number" class="form-label">Number <span>*</span></label>
                <input type="text"
                       id="number"
                       name="number"
                       maxlength="100"
                       class="form-control input-form--sm-1"
                       required
                       [(ngModel)]="address.number" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="complement" class="form-label">Complement</label>
                <input type="text"
                       id="complement"
                       name="complement"
                       maxlength="100"
                       class="form-control"
                       [(ngModel)]="address.complement">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="neighborhood" class="form-label">Neighborhood <span>*</span></label>
                <input type="text"
                       id="neighborhood"
                       name="neighborhood"
                       maxlength="100"
                       class="form-control"
                       required
                       [(ngModel)]="address.neighborhood">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="federativeUnit" class="form-label">State <span>*</span></label>
                <select id="federativeUnit" name="federativeUnit" class="form-control small-select" required [(ngModel)]="address.federativeUnit">
                  <option *ngFor="let state of states" [value]="state.acronym">{{ state.acronym }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="city" class="form-label">City <span>*</span></label>
                <input type="text"
                       id="city"
                       name="city"
                       maxlength="100"
                       class="form-control"
                       required
                       [(ngModel)]="address.city">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="zipCode" class="form-label">Zip Code <span>*</span></label>
                <input type="text"
                       id="zipCode"
                       name="zipCode"
                       maxlength="9"
                       class="form-control input-zip-code"
                       required
                       [(ngModel)]="address.zipCode">
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn button-cancel" data-bs-dismiss="modal" title="Close">
              <i class="bi bi-door-closed-fill"></i> Close
            </button>
            <button type="button" class="btn button-danger" title="Clear Fields" (click)="clearModalFields($event)">
              <i class="bi bi-x-square"></i> Clear
            </button>
            <button type="button" class="btn button-success" title="Save" [disabled]="!validateFields()" (click)="saveOrUpdate()">
              <i class="bi bi-floppy-fill"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
